/*section widgets Frontend*/
.element_widget_dashboard:after{clear: both;}
.left_dash{
    display: inline-block;
    width: 50%;
    min-height: 200px;
    height: auto;
    margin-left: 10px;
}
.seccion1 h3{
    padding: 10px 10px;
    background-color: #D9D9D9 !important;
    border:1px solid #BEBEBE !important;
    color: #435156;
    font-weight: bold;
}

.seccion1 ul{
    background-color: white;
    border:1px solid #CBD4DB;
    margin-top: -20px !important;
}

.seccion1 ul li{
    border-bottom: 1px solid #CBD4DB;
    margin-top: 0px !important;
    padding: 10px;
}
.seccion1 ul li:last-child{
    border-bottom: none;
}
.seccion1 ul li span{
    font-size: 20px;
    padding: 5px;
    background-color: #DBD3CA;
    color: #515D60;
    float: left;
    width: 5%;
    margin-top: 10px;

}
.seccion1 ul li p{
    padding: 0px 10px;
    float: left;
    width: 85%;
    padding-left: 10px;
    margin-top: 5px;
}
.seccion1 ul li p:after{
    clear: both !important;
}


/*right dash estile*/
.right_dash{
    display: inline-block;
    width: 40%;
    min-height: 200px;
    height: auto;
    margin-left: 10px;
}
.seccion1{
    background-color: white !important;
    border:none;
}
.seccion1 h3{
    margin-top: -20px;
}
.seccion1  table{
    background-color: white;
    margin-top: -20px;
}
.seccion1  table tr td{
    padding:10px 0px;
}
.seccion1  table tr td p{
    margin-left: 10px;
    font-weight: bold;
    border-bottom: 1px solid #D7D7D7;
}
.seccion1  table tr td ol{
    list-style: none;
    margin-left: 10px;
}
.seccion1  table tr td ol li{
    list-style: none;
}
.seccion1  table tr td ol li span{
    display: inline-block;

}
.seccion1  table tr td ol li span.sp_left{
    display: block;
    float: left;
}
.seccion1  table tr td ol li span.sp_right{
    display: block;
    float: right;
}
.seccion1  table tr td ol li span.sp_right:after{
    clear: both !important;
}