.colordefault{background-color: #F74D4D !important;}
		.color1{background-color: #27A9E3 !important;}
		.color2{background-color: #28B779 !important;}
		.color3{background-color:#FFB848 !important; }
		.color4{background-color:#DA542E !important; }
		.color5{background-color:#2255A4 !important; }
		._title_dash{margin-left: 20px;}
		._menu_items_metro:after{clear: both;}
		._menu_items_metro ul:after{clear: both;}
		._menu_items_metro ul li{
			position: relative;
			width: 150px; 
			height: 150px;
			display: inline-block;
			background-color: #ccc;
			margin-left: 10px;
		}
		._menu_dashicon{
			 position: absolute; /* or absolute */
  			 top: 50%;
  			 left: 50%;
  			 transform: translate(-50%, -50%);
  			 width: 50px;
  			 height: 50px;
		}
		._menu_dashicon span{
			font-size: 50px;
			color: white;
		}
		._descripcion_items_metro{
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
		}
		._descripcion_items_metro p{
			color: white; 
			font-size: 16px;
		}

		/*section widgets Frontend*/
		.element_widget_dashboard:after{clear: both;}
		.left_dash{
			display: inline-block;
			width: 50%;
			min-height: 200px;
			height: auto;
			margin-left: 10px;
		}
		.seccion1 h3{
			padding: 10px 10px;
			background-color: #D9D9D9 !important;
			border:1px solid #BEBEBE !important;
			color: #435156;
			font-weight: bold;
		}
		
		.seccion1 ul{
			background-color: white;
			border:1px solid #CBD4DB;
			margin-top: -20px !important;
		}
		
		.seccion1 ul li{
			border-bottom: 1px solid #CBD4DB;
			margin-top: 0px !important;
			padding: 10px;
		}
		.seccion1 ul li:last-child{
			border-bottom: none;
		}
		.seccion1 ul li span{
			font-size: 20px;
			padding: 5px;
			background-color: #DBD3CA;
			color: #515D60;
			float: left;
			width: 5%;
			margin-top: 10px;
			
		}
		.seccion1 ul li p{
			padding: 0px 10px;
			float: left;
			width: 85%;
			padding-left: 10px;
			margin-top: 5px;
		}
		.seccion1 ul li p:after{
			clear: both !important;
		}


		/*right dash estile*/
		.right_dash{
			display: inline-block;
			width: 40%;
			min-height: 200px;
			height: auto;
			margin-left: 10px;
		}
		.right_dash .seccion1{
			background-color: white !important;
			border:none;
		}
		.right_dash .seccion1 h3{
			margin-top: -20px;
		}
		.right_dash .seccion1  table{
			background-color: white;
			margin-top: -20px;
		}
		.right_dash .seccion1  table tr td{
			padding:10px 0px;
		}
		.right_dash .seccion1  table tr td p{
			margin-left: 10px;
			font-weight: bold;
			border-bottom: 1px solid #D7D7D7;
		}
		.right_dash .seccion1  table tr td ol{
			list-style: none;
			margin-left: 10px;
		}
		.right_dash .seccion1  table tr td ol li{
			list-style: none;
		}
		.right_dash .seccion1  table tr td ol li span{
			display: inline-block;

		}
		.right_dash .seccion1  table tr td ol li span.sp_left{
			display: block;
			float: left;
		}
		.right_dash .seccion1  table tr td ol li span.sp_right{
			display: block;
			float: right;
		}
		.right_dash .seccion1  table tr td ol li span.sp_right:after{
			clear: both !important;
		}