.colordefault {
	background-color: #F74D4D !important;
}
.color1{
	background-color: #27A9E3 !important;
}
.color2{
	background-color: #28B779 !important;
}
.color3{
	background-color:#FFB848 !important; 
}
.color4{
	background-color:#DA542E !important; 
}
.color5{
	background-color:#2255A4 !important; 
}
._title_dash{
	margin-left: 20px;
}
._fakturo_top_menu_items  a:hover {
	opacity: 0.8;
}
._fakturo_top_menu_items:after{
	clear: both;
}
._fakturo_top_menu_items ul:after{
}
._fakturo_top_menu_items{
}
._fakturo_top_menu_items ul{
	display: flex;
	max-width: 100%;
	overflow-x: auto;
        margin: 0;
}
._fakturo_top_menu_items ul a{
	display: block;
	margin-left: 10px;
	transition: all .4s ease;
}
._fakturo_top_menu_items ul li{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #ccc;
        padding: 0 7px;
        width: max-content;
}
._menu_dashicon{
  	width: 16px;
  	height: 16px;
	margin-right: 5px;
}

._menu_dashicon span{
	font-size: 16px;
  	width: 16px;
  	height: 16px;
	color: white;
}
._descripcion_items_metro{
	bottom: 0;
	text-align: center;
}
._descripcion_items_metro p{
	color: white; 
	font-size: 14px;
	margin: .25rem 0;
}

@media only screen and (min-width: 1024px) {
    .dashboard_widget {
		width: 45%;
		margin-left: 2.5%;
	}
	.clear_1 {
		clear:none;
	}
	.clear_2 {
		clear:both;
	}
	.clear_3 {
		clear:none;
	}
	.clear_4 {
		clear:none;
	}
}
@media only screen and (min-width: 1600px) {
    .dashboard_widget {
		width: 30%;
		margin-left: 1%;
	}
	.clear_1 {
		clear:none;
	}
	.clear_2 {
		clear:none;
	}
	.clear_3 {
		
		clear:both;
	}
	.clear_4 {
		clear:none;
	}
}
@media only screen and (min-width: 1920px) {
    .dashboard_widget {
		width: 24%;
		margin-left: 1%;
	}
	.clear_1 {
		clear:none;
	}
	.clear_2 {
		clear:none;
	}
	.clear_3 {
		clear:none;
	}
	.clear_4 {
		clear:both;
	}
}
@media (max-width: 782px) {
	._fakturo_top_menu_items{
		display: none;
	}
}