/* Settings */

.fktr-settings-tabs {
	margin-bottom: 0;
	border-bottom: 1px solid #777;
}
.fktr-sections {
	margin-bottom: 35px;
	width: inherit;
}
.subsubsub {
	width: inherit;
	text-align: left;
}
