/* Settings */

.fktr-settings-tabs {
	margin-bottom: 0;
	border-bottom: 1px solid #777;
}
.fktr-sections {
	margin-bottom: 35px;
	width: inherit;
}
.subsubsub {
	width: inherit;
	text-align: left;
}
#div_filter_form form{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}
#div_filter_form form #custom_dates label{
	margin-right: 5px;
}