#invoice_products {background:#E2E2E2;}
		.sortitem{background:#fff;border:2px solid #ccc;padding-left:20px; display: flex;}
		.sortitem .sorthandle{position:absolute;top:5px;bottom:5px;left:3px;width:8px;display:none;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAB3RJTUUH3wIDBycZ/Cj09AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAAAWSURBVHjaY2DABhoaGupBGMRmYiAEAKo2BAFbROu9AAAAAElFTkSuQmCC');}
		.sortitem:hover .sorthandle{display:block;}
		div.uc_column {
    float: left;
    width: 16%;
}
.delete:hover {
    color: red;
}
.delete {
    color: #F88;
    font-size: 1.6em;
}
label {
    cursor: pointer;
}
#msgdrag {
    display: none;
    color: red;
    padding: 0 0 0 20px;
    font-weight: 600;
    font-size: 1em;
}
.select2-result-product {
    padding-top: 4px;
    padding-bottom: 3px;
}
.select2-result-product__avatar  {
	float: left;
    width: 60px;
	min-height:50px;
    margin-right: 10px;
}
.select2-result-product__avatar img {
	display: block;
    max-width: 50px;
    margin: auto;
    border-radius: 2px;
}
.select2-result-product__meta {
	margin-left: 70px;
	min-height: 50px;
}
.select2-result-product__title {
    color: black;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 4px;
}
.product__description {
    font-size: 13px;
    color: #777;
    margin-top: 4px;
}
.select2-result-product__forks, .select2-result-product__stargazers, .select2-result-product__watchers {
    display: inline-block;
    color: black;
    font-size: 11px;
}
.code_product {
	line-height: 30px;
}

#paging-box {
	margin-top:5px;
	width:70%;
	float:left;
}
#totals-box {
	margin-top:5px;
	width: 28%;
    float: right;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    padding: 4px;
    font-size: 16px;
}
#misc-publishing-actions {
	display:none;
}

#product_stock_popup {
	position:absolute;
	left: 50%;
	margin-left: -250px;
	width:500px;
	min-height:200px;
	height:auto;
	background-color:white;
	z-index:5;
	border:5px solid #d9d0d0;
	border-radius:4px;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
}
#popup_stock_background {
	position:fixed;
	left: 0%;
	top: 0%;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.8;
	z-index:3;
	margin-left:160px;
}
#content_popup_stock {
	min-height:165px;
	height:auto;
	padding:4px;
}
#buttons_stock_popup {
	border-top:1px solid #d9d0d0;
	height:35px;
	text-align:right;
}
.stock_table {
	width:100%;
}
.stock_td_name {
	width: 55%;
    text-align: right;
}
.stock_td_input {
	width:65%;
}
.remaining_stock_red {
	color:red;
}
.remaining_stock_green {
	color:green;
}
#errors_stocks {
	border: 3px solid #ac0808;
    border-radius: 4px;
    padding: 4px;
    margin-top: 10px;
    background-color: #f2cece;
}
.error_stock_red {
	color:red;
}
.error_stock_lila {
	color: #777;
}

/*fak-seemore and fak-viewless*/
#fakturo-currencies-box div.inside table tbody tr{
	display: none;
}
.div-fak-seemore, .div-fak-viewless{
	display: inline-block;
	width:45% !important;
}
.fak-seemore,.fak-viewless{
	width:100%; 
	padding:10px 15px;
    margin-bottom:20px; 
    background-color:#FFFFFF; 
    color:#767676; 
    border:1px solid #E2E2E2; 
    cursor:pointer;
}
.fak-viewless{
	display: none;
}