#currency {
	width: 160px;
}
#user_contacts {background:#E2E2E2;}
.sortitem{
	background:#fff;
	border:2px solid #ccc;
	padding-left:20px;
	display: flex;
}
.sortitem .sorthandle{
	position:absolute;
	top:5px;
	bottom:5px;
	left:3px;
	width:8px;
	display:none;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAB3RJTUUH3wIDBycZ/Cj09AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAAAWSURBVHjaY2DABhoaGupBGMRmYiAEAKo2BAFbROu9AAAAAElFTkSuQmCC');
}
.sortitem:hover .sorthandle{
	display:block;
}
div.uc_column {
    float: left;
    width: 19%;
}
.delete:hover {
    color: red;
}
.delete {
    color: #F88;
    font-size: 1.6em;
}
label {
    cursor: pointer;
}
#msgdrag {
    display: none;
    color: red;
    padding: 0 0 0 20px;
    font-weight: 600;
    font-size: 1em;
}
#snapshot_container_wrapper {
	position:relative; border:3px solid #eaeaea; margin:15px 0; 
	-moz-border-radius: 12px; -webkit-border-radius: 12px;
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,.25) inset, 0px 0px 6px black inset;-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.25) inset, 0px 0px 6px black inset;
	border-radius: 12px;  box-shadow: 0px 0px 6px rgba(0,0,0,.25) inset, 0px 0px 6px black inset;
	background-color:#c7c7c7;
	padding:10px;
	overflow:hidden;
}
#snapshot_container_wrapper{
	text-align:center;
}
.cuit_ok {
	color: #2FB42F;
	text-shadow: 1px 1px 1px #eee;
}
.cuit_err {
	color: #FF3232;
	font-weight: 700;
	text-shadow: 1px 1px 1px #eee;
}
.sb_js_errors {
	float: right;
	color: #FF3232;
}
.mw-95{
	width: 100%; 
}
@media (max-width: 1080px){
	.pricestr .prices, .pricestr .prices_final{
		max-width: 120px;
	}
}
@media (min-width: 783px){
	.mw-95{
		max-width: 95%;
	}
}
@media (min-width: 851px) and (max-width: 1080px){
	.form-table .regular-text{
		width: auto;
	}
}